*{
  margin: 0;
  padding: 0;
}
.fundo{
  background-image: -moz-linear-gradient(45deg, white,grey);
  height: 100vh;
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.calculadora{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  padding: 15px;
  color: black;
}
.botao{
  background-color: grey;
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  border: none;
  color: black;
  margin: 3px;
}
.botao:hover{
  background-color: #E5E3E3;
}
#resultado{
width: 212px;
height: 30px;
background-color: grey;;
color: black;
font-size: 25px;
text-align: right;
padding: 5px;
margin: 5px;
}